<h4>マイページ</h4>

  <%= @user.name %>さん
  <%= @user.introduction %>
  
  <br>
  <h4>作った問題集たち</h4>
  <% @workbooks.each do |workbook| %>
    <%= link_to workbook.name, workbook_path(workbook) %>
  <% end %>