/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.active {
  display: inline;
  background-color: white;
  color: black;
  z-index: 10;
}

.hidden_box {
  color: gray;
  background-color: gray;
  display: inline;
  z-index: 1;
}

.nav-item {
  margin: 1em 0.5em 0.5em auto;
}

a.book_index, .book_index > a {
  color: black;
  text-align: center;
  width: 12em;
  margin: 0.4em auto;
}

.header {
  background-color: #006888;
}

.row {
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 1400px) {
  .only_smartphone {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .only_pc {
    display: none;
  }
}